# Copyright 2024 sby1ce
# 
# SPDX-License-Identifier: CC0-1.0

.DS_Store
node_modules

pnpm-lock.yaml
package-lock.json
yarn.lock
bun.lockb

.vscode/

vite.config.js.*
vite.config.ts.*

idk/

build/
.svelte-kit/

target/
Cargo.lock
