# Copyright 2024 sby1ce
# 
# SPDX-License-Identifier: CC0-1.0

.DS_Store
node_modules

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock
bun.lockb
bun.lock

# IDE and editors
.vscode/

# Build process side effects
vite.config.js.*
vite.config.ts.*
app.config.js.*

# Other
idk/
*.exe
*.ps1

# Builds
build/
dist/
.output/

# Per proj

## Svelte
.svelte-kit/

## Solid
.solid/
.vinxi/

## React
next-env.d.ts
.next/
out/
build/

## Vue
.nuxt/

# Rust wasm files
target/
Cargo.lock

## Node-API
*.node
index.js
index.d.ts
