/*
Copyright 2024 sby1ce

SPDX-License-Identifier: AGPL-3.0-or-later
*/

.div {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

@media (max-width: 700px) {
  .div {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
