# Copyright 2024 sby1ce
# 
# SPDX-License-Identifier: CC0-1.0

.DS_Store
node_modules

.git/
.gitignore

pnpm-lock.yaml
package-lock.json
yarn.lock
bun.lockb

.vscode/
.reuse/

vite.config.js.*
vite.config.ts.*

idk/

static/
/build
/.svelte-kit

.github/

countdown-rs/
