/*
Copyright 2024 sby1ce

SPDX-License-Identifier: AGPL-3.0-or-later
*/

@use "scss/variables" as v;

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: v.$bg-colour;
  color: v.$text-colour;
}
